$ck-editor-size: 250px;

.ck .ck-reset .ck-editor .ck-rounded-corners {
  min-height: $ck-editor-size !important;
}
.ck-editor__editable {
  min-height: $ck-editor-size !important;
}

.ck-editor__editable_inline {
  min-height: $ck-editor-size !important;
}

:host ::ng-deep .ck-editor__editable_inline {
  min-height: $ck-editor-size !important;
}
